<div class="converter" *ngIf="currencies$ | async as currencies">
  <app-currency-input
    [currencies]="currencies"
    [selectedCurrency]="topCurrency"
    [inputValue]="topValue"
    (onCurrencySelected)="selectCurrency($event, inputPosition.top)"
    (onInputValueChanged)="updateInputValue($event, inputPosition.top)"
  ></app-currency-input>

  <div class="converter-icon" (click)="switchValue()">
    <i class="pi pi-sort-alt"></i>
  </div>

  <app-currency-input
    [currencies]="currencies"
    [selectedCurrency]="bottomCurrency"
    [inputValue]="bottomValue"
    (onCurrencySelected)="selectCurrency($event, inputPosition.bottom)"
    (onInputValueChanged)="updateInputValue($event, inputPosition.bottom)"
  ></app-currency-input>
</div>
